{% extends 'MajesCoreBundle::layout.html.twig' %}

{% block title %}MajesCore - Authentification{% endblock %}

{% block content_header '' %}

{% block content %}

      <!-- Login Screen -->
    <div class="login-wrapper">
            <img  src="{{ asset('bundles/majescore/images/logo-login@2x.png') }}" />
            <form action="{{ path('_admin_login_check') }}" method="post" name="login_form">
                  <div class="form-group">
                        <div class="input-group">
                              <span class="input-group-addon"><i class="icon-envelope"></i></span>
                              <input class="form-control" type="text" name="_username" value="" />
                        </div>
                  </div>
                  <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon"><i class="icon-lock"></i></span>
                        <input class="form-control" type="password" value="" name="_password"/>
                        </div>
                  </div>
                  <a class="pull-right" href="#">Forgot password?</a>
                  <div class="form-group">
                        <label class="checkbox"><input type="checkbox" name="_remember_me"/>Keep me logged in</label>
                  </div>
                  <input type="submit" class="btn btn-lg btn-primary btn-block login-submit" value="Log in"/>
                  
                  
            </form>
    </div>
    <!-- End Login Screen -->

{% endblock %}
      