services:
    kernel.listener.system_listener:
        class: Majes\CoreBundle\EventListener\SystemListener
        arguments: ["@doctrine.orm.entity_manager", "@security.context", "@service_container", "@router"]
        tags:
            - { name: kernel.event_listener, event: kernel.controller, method: onKernelController }

    kernel.listener.exception_listener:
        class: Majes\CoreBundle\EventListener\ExceptionListener
        arguments: [@templating, @service_container, "@security.context"]
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException }

    majescore.translator:
       class: Majes\CoreBundle\Services\CoreTranslator
       arguments: [%locale%, @service_container]

    translation.loader.db:
        class: Majes\CoreBundle\Services\DBLoader
        arguments: [@doctrine.orm.entity_manager]
        tags:
            - { name: translation.loader, alias: db }

    majescore.select2_extension:
        class: Majes\CoreBundle\Form\Extension\Select2TypeExtension
        tags:
            - { name: form.type_extension, alias: choice }

    majescore.mediapicker_extension:
        class: Majes\CoreBundle\Form\Extension\MediaPickerTypeExtension
        tags:
            - { name: form.type_extension, alias: file }

    majescore.spanned_extension:
        class: Majes\CoreBundle\Form\Extension\SpannedTypeExtension
        tags:
            - { name: form.type_extension, alias: text }

    majescore.rte_extension:
        class: Majes\CoreBundle\Form\Extension\RteTypeExtension
        tags:
            - { name: form.type_extension, alias: textarea }

    majescore.maxchar_extension:
        class: Majes\CoreBundle\Form\Extension\MaxCharTypeExtension
        tags:
            - { name: form.type_extension, alias: textarea }

    majescore.datepicker_extension:
        class: Majes\CoreBundle\Form\Extension\DatepickerTypeExtension
        tags:
            - { name: form.type_extension, alias: text }


    majescore.datepicker_extension_datetime:
        class: Majes\CoreBundle\Form\Extension\Datepicker2TypeExtension
        tags:
            - { name: form.type_extension, alias: datetime }

    majescore.switched_extension:
        class: Majes\CoreBundle\Form\Extension\SwitchedTypeExtension
        tags:
            - { name: form.type_extension, alias: checkbox }

    majescore.linked_extension:
        class: Majes\CoreBundle\Form\Extension\LinkedTypeExtension
        tags:
            - { name: form.type_extension, alias: text }

    majescore.twig.core_extension:
        class: Majes\CoreBundle\Twig\CoreExtension
        arguments:  ["@service_container","@doctrine.orm.entity_manager", @router]
        tags:
            - { name: twig.extension }

    majes.notification:
        class: Majes\CoreBundle\Services\Notification
        arguments:
            session: "@session"
            source: "core"

    majes.mailer:
        class: Majes\CoreBundle\Services\Mailer
        arguments: [@mailer, @doctrine.orm.entity_manager, @security.context, %admin_email%, @service_container]

    majes.ga:
        class: Majes\CoreBundle\Services\GoogleAnalytics
        arguments: ["@service_container",@doctrine.orm.entity_manager]

    majes.social:
        class: Majes\SocialBundle\Services\Social
        arguments: ["@service_container"]

    authentication_handler:
        class: Majes\CoreBundle\Handler\AuthenticationHandler
        arguments:  [@router, @security.context]
        tags:
            - { name: 'monolog.logger', channel: 'security' }

    swiftmailer.transport.simplemailinvoker:
        class: Swift_Transport_SimpleMailInvoker

    swiftmailer.transport.eventdispatcher:
        class: Swift_Events_SimpleEventDispatcher

    swiftmailer.transport.buffer:
        class: Swift_Transport_StreamBuffer

    swiftmailer.transport.real:
        class: Swift_Transport_MailTransport
        arguments: [@swiftmailer.transport.simplemailinvoker, @swiftmailer.transport.eventdispatcher]
