<div class="row">
    <div class="col-lg-12">
        <ul class="breadcrumb">
        	<li><a href="{{ path('_admin_index') }}"><i class="icon-home"></i></a></li>
        	<li>{{app.request.get('bundle')}}</li>
          	<li class="active">{{ pageTitle|trans({}, 'admin') }}</li>
        </ul>
    </div>
</div>
