{% extends 'MajesCoreBundle::layout.html.twig' %}

{% block title %}MajesCore - Dashboard{% endblock %}

{% block content_header '' %}

{% block content %}

<div class="container-fluid main-content">

  {{ include(
                'MajesCoreBundle:common:breadcrumbs.html.twig'
            ) }}
  
    <div class="page-title">
      <h1>{{ pageTitle }}</h1>
	  </div>

    {% block datatable %}
    {% set config = dataTable(object, datas) %}
    <!-- DataTables Example -->
    <div class="row">
    	<div class="col-lg-12">
        	{{ include(
                'MajesCoreBundle:common:table.html.twig'
            ) }}
    	</div>
    </div>
    <!-- end DataTables Example -->
    {% endblock datatable %}
</div>
{% endblock %}