{% extends 'MajesCoreBundle::error.html.twig' %}

{% block title %}MajesCore - Error 500{% endblock %}


{% block content %}

	
<body class="fourofour bg-warning">
    <!-- Login Screen -->
    <div class="fourofour-container">
      <h1>
        500
      </h1>
      <h2>
       {% trans %}We have a problem rendering the page.{% endtrans %}
      </h2>
      {# <p>{{message}}</p> #}
      <h3 class="title">{% trans %}Support{% endtrans %}</h3>
		<p class="intro">{% trans %}You need technical or functional support on how to use majeS'teel, please feel free to contact us.{% endtrans %}</p>
      <a class="btn btn-lg btn-default-outline" href="{{ path('_majesteel_index') }}"><i class="fa fa-home"></i>Return to the homepage</a>
    </div>
    <!-- End Login Screen -->
  </body>
					

{% endblock %}