{% extends 'MajesCoreBundle::error.html.twig' %}

{% block title %}MajesCore - Error {{ code }}{% endblock %}


{% block content %}

	
<body class="fourofour">
    <!-- Login Screen -->
    <div class="fourofour-container">
      <h1>
        {{ code }}
      </h1>
      <h2>
        {% trans %}Seems this page does not exists.{% endtrans %}
      </h2>
      <h3 class="title">{% trans %}Support{% endtrans %}</h3>
      <p class="intro">{% trans %}You need technical or functional support on how to use majeS'teel, please feel free to contact us.{% endtrans %}</p>
      <a class="btn btn-lg btn-default-outline" href="{{ path('_majesteel_index') }}"><i class="fa fa-home"></i>Go to the homepage</a>
    </div>
    <!-- End Login Screen -->
  </body>

					

{% endblock %}