{% extends 'MajesCoreBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
	<h2>Bundle management</h2>
	<ul>
		<li>Bundle : {{ bundle }}</li>
   		<li>Action : {{ action }}</li>
   	</ul>
{% endblock %}
