{% extends 'MajesCoreBundle::layout.html.twig' %}

{% block title %}MajesCore - Dashboard{% endblock %}

{% block content_header '' %}

{% block content %}
    <div class="container-fluid main-content">
      {% if google._analytics is not null %}
      <!-- Statistics -->
      <div class="row">
        <div class="col-lg-12">
          <div class="widget-container stats-container">
            <div class="col-md-3">
              <div class="number">
                <div class="icon-long-arrow-up"></div>
                {{google._analytics.percent_new_visits}}<small>%</small>
              </div>
              <div class="text">
                {% trans %}Percentage new visits{% endtrans %}
              </div>
            </div>
            <div class="col-md-3">
              <div class="number">
                <div class="icon-stackexchange"></div>
                {{google._analytics.new_visits}}
              </div>
              <div class="text">
                {% trans %}New visitors this current month{% endtrans %}
              </div>
            </div>
            <div class="col-md-3">
              <div class="number">
                <div class="icon-time"></div>
                {{google._analytics.average_time}}<small>sec</small>
              </div>
              <div class="text">
                {% trans %}Average time on site{% endtrans %}
              </div>
            </div>
            <div class="col-md-3">
              <div class="number">
                <div class="icon-file-text-alt"></div>
                {{google._analytics.pageviews_visit}}
              </div>
              <div class="text">
                {% trans %}Page views per visit{% endtrans %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <!-- Weather -->
        <div class="col-md-8">
          <div class="widget-container weather">
            <div class="widget-content padded">
              <div class="row text-center">
                <div class="col-sm-6 col-md-6 col-lg-4 today">
                  <p>
                    TODAY
                  </p>
                  <canvas class="skycons-element" data-skycons="RAIN" height="100" id="rain" width="100"></canvas>
                  <div class="number">
                    72<small>&deg;</small>
                  </div>
                  <p class="location">
                    Washington, D.C.
                  </p>
                </div>
                <div class="col-sm-2 hidden-xs">
                  <p>
                    MON
                  </p>
                  <canvas class="skycons-element" data-skycons="CLEAR_DAY" height="60" id="clear-day" width="60"></canvas>
                  <div class="number">
                    86<small>&deg;</small>
                  </div>
                </div>
                <div class="col-sm-2 hidden-xs">
                  <p>
                    TUE
                  </p>
                  <canvas class="skycons-element" data-skycons="RAIN" height="60" id="cloudy" width="60"></canvas>
                  <div class="number">
                    75<small>&deg;</small>
                  </div>
                </div>
                <div class="col-sm-2 hidden-xs">
                  <p>
                    WED
                  </p>
                  <canvas class="skycons-element" data-skycons="PARTLY_CLOUDY_DAY" height="60" id="partly-cloudy-day" width="60"></canvas>
                  <div class="number">
                    82<small>&deg;</small>
                  </div>
                </div>
                <div class="col-sm-2 hidden-md hidden-sm hidden-xs">
                  <p>
                    THU
                  </p>
                  <canvas class="skycons-element" data-skycons="SLEET" height="60" id="sleet" width="60"></canvas>
                  <div class="number">
                    64<small>&deg;</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end Weather --><!-- Bar Graph -->
        <div class="col-md-4">
          <div class="widget-container small">
            <div class="heading">
              <i class="icon-signal"></i>New sign ups<i class="icon-list pull-right"></i><i class="icon-refresh pull-right"></i>
            </div>
            <div class="widget-content padded">
              <div class="bar-chart-widget">
                <div class="chart-graph">
                  <div id="barcharts">
                    Loading...
                  </div>
                  <ul class="chart-text-axis">
                    <li>
                      1
                    </li>
                    <li>
                      2
                    </li>
                    <li>
                      3
                    </li>
                    <li>
                      4
                    </li>
                    <li>
                      5
                    </li>
                    <li>
                      6
                    </li>
                    <li>
                      7
                    </li>
                    <li>
                      8
                    </li>
                    <li>
                      9
                    </li>
                    <li>
                      10
                    </li>
                    <li>
                      11
                    </li>
                    <li>
                      12
                    </li>
                    <li>
                      13
                    </li>
                    <li>
                      14
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Bar Graph -->
      </div>
      <div class="row">
        <!-- Area Charts:Morris -->
        <div class="col-md-6">
          <div class="widget-container fluid-height">
            <div class="heading">
              <i class="icon-bar-chart"></i>{% trans %}Area Chart{% endtrans %}
            </div>
            <div class="widget-content padded text-center">
              <div class="graph-container">
                <div class="caption"></div>
                <div class="graph" id="hero-area"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Area Charts:Morris --><!-- Chat -->
        <div class="col-md-6">
            <div class="widget-container scrollable chat" style="height: 427px;">
              <div class="heading">
                <i class="icon-comments"></i>Chat Widget<i class="icon-smile pull-right"></i>
              </div>
              <div class="widget-content padded">
                <ul>
                  <li>
                    <img width="30" height="30" src="images/avatar-male.jpg">
                    <div class="bubble">
                      <a class="user-name" href="">John Smith</a>
                      <p class="message">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                      </p>
                      <p class="time">
                        <strong>Today </strong>3:53 pm
                      </p>
                    </div>
                  </li>
                  <li class="current-user">
                    <img width="30" height="30" src="images/avatar-female.jpg">
                    <div class="bubble">
                      <a class="user-name" href="">Jane Smith</a>
                      <p class="message">
                        Donec odio. Quisque volutpat mattis eros.
                      </p>
                      <p class="time">
                        <strong>Today </strong>3:53 pm
                      </p>
                    </div>
                  </li>
                  <li>
                    <img width="30" height="30" src="images/avatar-male.jpg">
                    <div class="bubble">
                      <a class="user-name" href="">John Smith</a>
                      <p class="message">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                      </p>
                      <p class="time">
                        <strong>Today </strong>3:53 pm
                      </p>
                    </div>
                  </li>
                  <li>
                    <img width="30" height="30" src="images/avatar-male.jpg">
                    <div class="bubble">
                      <a class="user-name" href="">John Smith</a>
                      <p class="message">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                      </p>
                      <p class="time">
                        <strong>Today </strong>3:53 pm
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="post-message">
                <input class="form-control" placeholder="Write your message here..." type="text"><input type="submit" value="Send">
              </div>
            </div>
          </div>
        <!-- End Chat -->
      </div>
      
  
{% endblock %}
